<!DOCTYPE html>
<html>
	<head>
		<META http-equiv='Content-Type' content='text/html ; charset=utf-8'>
		<title> 404 </title>
		<style>
			.tips {
				background-color:yellow;
				color:red;
			}
		</style>
	</head>
	<body>
		<h1>E-mail 格式錯誤</h1>
		<span>請輸入有效的電子郵件格式 ! <br>例如：</span>
		<span class="tips">your_name%@example.com</span><br>
		<span class="tips">Tips:</span>
		<span>可以使用%、_、-、.等符號</span>
		<hr size='4px' width='100%' color='blue'>
		<a href="{% url 'insert'%}">返回</a><br>
		<a href="{% url 'index'%}">目錄</a><br>
		
	</body>
</html>