<!DOCTYPE html>
<html>
	<head>
		<META http-equiv='Content-Type' content='text/html ; charset=utf-8'>
		<title> 新增insert </title>
	</head>
	<body>
		<h1>客戶資料：</h1>
		<form action="{% url 'insertdata_customers_success'%}" method='POST'>
		{% csrf_token %}
		<p>姓氏 : <input required type='text' name='first_name'></p>
		<p>名子 : <input required type='text' name='last_name'></p>
		<p>帳號 : <input required type='text' name='account'></p>
		<p>密碼 : <input required type='password' name='password' placeholder="長度8-20位元"></p>
		<p>生日 : <input required type='date' name='born'></p>
		<p>性別 : 
			<select name='sex'>
				<option value='male'>男性</option>
				<option value='female'>女性</option>
			</select>
		</p>
		<p>電話 : <input required type='tel' name='phone_number' placeholder="1234567890 X:02-0000-0000"></p>
		<p>E-MAIL : <input required type='email' name='email' placeholder='your_name@example.com'></p>
		<p>國家 : <input required type='text' name='country'></p>
		<p>城市 : <input required type='text' name='city'></p>
		<p>地址 : <input required type='text' name='address'></p>
		<p>備註 : <textarea name='note' style='resize:none' rows="5"></textarea></p>
		<input type="submit" value='送出'><br>
		
		<hr size='4px' width='100%' color='blue'>
	
		<a href="{% url 'index'%}">目錄</a><br>
		
	</body>
</html>